*{
	margin: 0px;
	padding: 0px;
}
@font-face{
	font-family: "fuente";
	src: url(../fonts/Lobster-Regular.ttf);
}
@font-face{
	font-family: "fuente1";
	src: url(../fonts/RobotoCondensed-Regular.ttf);
}
body{
	background:url(../img/Fondo.jpg);
	background-position: center;
}
header{
	width:100%;
}
header nav {
	background:#024959;
	width: 90%;
	max-width: 780px;
	margin: 20px auto;
	z-index: 1000;
}
header nav ul{
	list-style: none;
}
header nav ul li {
	display: inline-block;
	position: relative;
}
header nav ul li:hover .Empleadoh {
	display: block;
}
header nav ul li .Empleadoh{
	display: none;
	background: #011826;
	position: absolute;
	width: 150%;
	z-index: 1000;
}
header nav ul li .Empleadoh li{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255.5); 
}
header nav ul li .Empleadoh li a{
	display: block;
}
header nav ul li .icon{
	position: relative;
	top: 3px;
	margin-left: 35px;
	margin-right: 0px;
}
header nav ul li a span{
	float: right;
	position: relative;
	top: 3px;
	margin-right: 0;
	margin-left: 10px;
}
header nav ul li a{
 	color: #fff;
 	display: block;
 	padding: 20px;
  	text-decoration: none;
}
header nav ul li span{
	margin-right: 10px;
}
header nav ul li a:hover{
	background: #037E8C;
}
form{
	background: #585858;	
	width: 90%;
	max-width: 1000px;
	-moz-border:1px solid #4e4d4d;
	-webkit-border-radius: 3px;
	box-shadow: inset 0 0 10px;
	margin: 100px auto; 	
}

.Formulario1{
	background: #585858;
	padding: 0px;	
	width: 90%;
	max-width: 500px;
	-moz-border:1px solid #4e4d4d;
	-webkit-border-radius: 3px;
	box-shadow: inset 0 0 10px;
	margin: 100px auto;
}
.Formulario1 .contenedorF{
	width: 90%;
	max-width: 1000px;
	padding: 40px;
	margin: auto;

}
.Formulario1 .contenedorF .input_group{
	position: relative;
	margin-bottom: 32px;
}
.Formulario1 .contenedorF .input_group input[type="text"], .Formulario1 .contenedorF .input_group input[type="email"], .Formulario1 .contenedorF .input_group input[type="password"]{
	font-family: "fuente1";
	font-size: 16px;
	color: #BDBDBD;
	width: 75%;
	outline: none;
	padding: 15px;
	background: none;
	border: none;
	border-bottom: 2px solid #424242;
}
.Formulario1 .contenedorF .input_group select{
	font-family: "fuente1";
	font-size: 16px;
	color: #151515;
	width: 75%;
	margin: 30px;
	outline: none;
	padding: 15px;
	background: none;
	border: none;
	border-bottom: 2px solid #424242;
}
.Formulario1 .contenedorF .input_group input[type="text"]:focus, .Formulario1 .contenedorF .input_group input[type="text"]:active, .Formulario1 .contenedorF .input_group input[type="email"]:focus,.Formulario1 .contenedorF .input_group input[type="email"]:active,.Formulario1 .contenedorF .input_group input[type="password"]:focus, .Formulario1 .contenedorF .input_group input[type="password"]:active{
	outline: none;
	border-bottom: 2px solid #BDBDBD;
}
.Formulario1 .contenedorF .input_group input[type="text"].error, .Formulario1 .contenedorF .input_group input[type="email"].error,.Formulario1 .contenedorF .input_group input[type="password"].error {
	border-bottom: 2px solid #D32F2F; 
}
.Formulario1 .contenedorF .input_group input[type="text"].error + label, .Formulario1 .contenedorF .input_group input[type="email"].error + label, .Formulario1 .contenedorF .input_group input[type="password"].error + label {
	color: #D32F2F;
}
.Formulario1 .contenedorF .input_group label{
	color: #fff;
}
.Formulario1 .contenedorF .input_group label.lbl{
	position: absolute;
	top: 16px;
	left: 80;
	font-size: 16px;
	line-height: 16px;
	-webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.Formulario1 .contenedorF .input_group label.lbl.active{
	top: -12px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
}
.Formulario1 .contenedorF .input_group.radio label{
	display: inline-block;
	cursor: pointer;
	color: #fff;
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 18pt;
	margin-left: 20px;
	border-radius: 3px;
	font-family: "fuente1";
	-webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.Formulario1 .contenedorF .input_group.radio label:hover{
	background: #011826;
}
.Formulario1 .contenedorF .input_group.radio label:before{
	content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    top: 10px;
    border-radius: 50%;
    background: none;
    border: 2px solid #fff;
}
.Formulario1 .contenedorF .input_group.error label{
	color: #D32F2F;
}
.Formulario1 .contenedorF .input_group.error label:hover{
	background: rgba(211, 47, 47, 0.2);
}
.Formulario1 .contenedorF .input_group.error label:before{
	border: 2px solid #D32F2F;
}
.Formulario1 .contenedorF .input_group.radio input[type="radio"]{
	display: none;
}
.Formulario1 .contenedorF .input_group.radio input[type="radio"]:checked + label:before{
	display: none;
}
.Formulario1 .contenedorF .input_group.radio input[type="radio"]:checked + label{
	padding: 5px 15px;
	background: #011826;
	border-radius: 2px;
    color: #f2f2f2;
}
.volver{
		background: #CCC;
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
	}
	.volver .btn_volver{
		background: #024959;
		color: #fff;
		display: block;
		font-weight: bold;
		font-size: 25px;
		padding: 20px;
		overflow: hidden;
		text-decoration: none;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.volver span{
		float: right;
		font-size: 40px;
	}
form h1{
	color: #fff;
	font-weight: normal;
	font-size: 40pt;
	font-family: "fuente";
	margin: 3% auto;
	max-width: 1000px;
	text-align: center;
	padding: 3%;

}
form input{
	width: 60%;
	max-width: 1000px;
	height: 40px;
	margin: 0.5% 9%;
	padding: 0px 10%;
	color: #6d6d6d;
	text-align: center;
	border-radius: 10px;
	font-size: 14pt;
}

form button,form input[type="submit"]{
	width: 70%;
	max-width: 1000px;
	margin: 3% 14.5%;
	height: 62px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c3c3c+0,2a2828+100 */
	background: #3c3c3c; /* Old browsers */
	background: -moz-linear-gradient(top,  #3c3c3c 0%, #2a2828 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3c3c3c 0%,#2a2828 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3c3c3c 0%,#2a2828 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#2a2828',GradientType=0 ); /* IE6-9 */
	border: 1px;
	color: #fff;
	box-shadow: 0px 2px 0px #000;
	-moz-box-shadow: 0px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 0px #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: 24pt;
}
form button:hover, form input[type="submit"]:hover{
	background: #3a3a3a;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,2a2828+0,3c3c3c+100 */
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #2a2828 0%, #3c3c3c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#2a2828 0%,#3c3c3c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7db9e8 0%,#2a2828 0%,#3c3c3c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#3c3c3c',GradientType=0 ); /* IE6-9 */
}

form div{
	color: #FFFFFF;
	font-size: 20pt;
}
.menu_bar{
	display: none;
}
section#contenedor{
	margin: 0.5em auto;
	max-width: 1000px;
	padding: 0;
	text-align: center;
}
section#principal{
	background: #1E6381;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.5em auto;
	max-width: 1000px;
	min-height: 200px;
	padding: 0.25em;
	text-align: center;
	vertical-align: top;
	width: 65%;
}
@media screen and (max-width:880px){
	body{
		padding-top: 68px;
	}
	header nav{
		width: 80%;
		height: calc(100% - 68px);
		left: -100%;
		margin: 0px;
		position: fixed;
		overflow: scroll;
	}
	header nav ul li {
		display: block;
		border-bottom: 1px solid rgba(255,255,255.3); 
	}
	header nav ul li a {
		display: block;
	}
	header nav ul li:hover .Empleadoh{
		display: none;
	}
	header nav ul li .Empleadoh{
		width: 100%;
		position: relative;
	}
	header nav ul li .Empleadoh li a{
		margin-left: 20px;
	}
	header nav ul li .icon{
		float: right;
	}
	.menu_bar{
		background: #CCC;
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
	}
	.menu_bar .btn_menu{
		background: #024959;
		color: #fff;
		display: block;
		font-weight: bold;
		font-size: 25px;
		padding: 20px;
		overflow: hidden;
		text-decoration: none;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.menu_bar span{
		float: right;
		font-size: 40px;
	}
}
